@{
  Layout = "_Layout";
}

<h1>Welcome to Pierre's Sweets & Treats!</h1>
<hr />

<h4>Current Treats:</h4>
<hr />

<h4>Current Flavors:</h4>
<hr />

<p>@Html.ActionLink("Create or manage an account", "Index", "Account")</p>