@{
    Layout = "_Layout";
}

@model TreatTracker.Models.Treat
@using TreatTracker.Models

<h2>Treat</h2>
<hr>
<h3>Add a flavor to @Html.DisplayFor(model => model.Name): </h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.TreatId)

    @Html.Label("Select Flavor")
    @Html.DropDownList("FlavorId")

    <input type="submit" value="Add Machine" />
}