@{
  Layout = "_Layout";
}

@using TreatTracker.Models

<h1>Treats</h1>

<h3>Treats available:</h3>

@foreach(Treat treat in Model)
{
  <p>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId})</p>
}
<hr />

<p> @Html.ActionLink("Add Treats", "Create", "Treats") </p>